heartbeat.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="heartbeat">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="code" type="xs:unsignedShort" />
              <xs:element name="origin" type="xs:string" />
              <xs:element name="timestamp" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="body">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="nameService" type="xs:string" />
              <xs:element name="CPUload" type="xs:string" />
              <xs:element name="RAMload" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
